:root {
    --darkerGray: #23272A;
    --mainOrange: #D84F00;
    --complimentaryBlue: #1A91FF;
    --backgroundGray: #2C2F33;
}


body {
    background: #2C2F33;
}

/* ------------------------------------ NAV BAR GORA ------------------------------------ */

.NavBar {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0;

    height: 81.39px;

    /* Background Gray */

    background: #2C2F33;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.NavBarBox-serverName {
    cursor: pointer;
    color: #D84F00;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.1em;
    padding-left: 12px;
}

.NavBarBox-categoryWrapper {
    color: #D84F00;
    font-size: 22px;
    display: flex;
    font-weight: bold;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 0.3;
    text-transform: uppercase;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);

}
.NavBarBox-rankingi, .NavBarBox-sklep, .NavBarBox-ogloszenia {
    padding: 5px 10px 5px 10px;
}
.NavBarBox-rankingi:hover, .NavBarBox-sklep:hover, .NavBarBox-ogloszenia:hover  {
    background: #23272A;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.0125);
    color: #1A91FF;
}

/* ------------------------------------ NAV BAR PROFIL ------------------------------------ */

.NavBarBox-profile {
    color: #1A91FF;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    cursor: pointer;
    outline: none;
    text-align: left;
}

.NavBarBox-profile > img {
    display: block;
    margin: auto;
    padding: 10px;
    background-color : hsl(0, 0%, 90%);
    transition: background-color 300ms;
}

.NavBarBox-profileButtonWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    padding: 1vw;
}

.NavBarBox-profileButtonWrapper:hover {
    background: #23272A;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.0125);
}

.NavBarBox-profileButtonWrapper > .button-arrow {
    font-size: 14px;
}

.NavBarBox-profileButtonWrapper > img {
    padding-left: 5px;
}

.NavBarBox-profileButton-menu {
    display: none;
}

.NavBarBox-profileButton-menuWrapper {
    display: flex;
    flex-direction: row-reverse;
}

/* ------------------------------------ NAV BAR MENU DISPLAY ------------------------------------ */

.NavBarBox-profileButton-menuWrapper2 {
    display: flex;
    flex-direction: column;
    background-color: var(--darkerGray);
    text-transform: uppercase;
    border-radius: 15px;
    font-weight: 400;
    letter-spacing: 3px;

}

.NavBarBox-profileButton-menu-elementWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5vw;
    padding: 1vh 1vw 1vh 1vw;
    border: 2px solid var(--darkerGray);
    color: var(--mainOrange);
}

.NavBarBox-profileButton-menu-elementWrapper > img {
    height: 32px;
    width: 32px;
    border: 2px solid var(--mainOrange);
}

.NavBarBox-profileButton-menu-elementWrapper:hover {
    background-color: var(--backgroundGray);
    color: var(--complimentaryBlue);
    border: 2px solid var(--complimentaryBlue);
    border-radius: 15px;
}

.NavBarBox-profileButton-menu-elementWrapper:hover > img {
    height: 32px;
    width: 32px;
    border: 2px solid var(--complimentaryBlue);
}

/* ------------------------------------ BANNER ------------------------------------ */

.Banner {
    background: url("./images/banner.png") no-repeat;
    height: 78vh;
    width: 100vw;
    background-size: cover;

    /* Inside auto layout */
}

/* ------------------------------------ STOPKA ------------------------------------ */
.MainPage {
    display: flex;
    flex-direction: column;
}

/* ------------------------------------ STOPKA ------------------------------------ */

footer {
    color: var(--mainOrange);
    background-color: var(--darkerGray);
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    flex-direction: row;
    width: 100%;
}

.Footer-wrapper {
    display: flex;
    flex-direction: row;
    gap: 65vw;
    padding: 2vh 2vw 2vh 2vw;
    border-top: 2px solid #1A91FF;
    box-shadow: inset 0 7px 9px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.Footer-copyright {
    right: 0;
}

.Footer-otherWrapper {
    display: flex;
    top: 2vh;
    gap: 1.5vw;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    align-items: center;
}

.Footer-cookies {
    cursor: pointer;
}

.Footer-cookies:hover {
    color: var(--complimentaryBlue);
}

.Footer-regulamin {
    cursor: pointer;
}

.Footer-regulamin:hover {
    color: var(--complimentaryBlue);
}

