body {
    background: #2C2F33;
}

.NavBar {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0;

    height: 81.39px;

    /* Background Gray */

    background: #2C2F33;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.NavBarBox-serverName {
    color: #D84F00;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.1em;
    padding-left: 12px;
}

.NavBarBox-categoryWrapper {
    color: #D84F00;
    font-size: 22px;
    display: flex;
    font-weight: bold;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 0.3;
    text-transform: uppercase;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);

}
.NavBarBox-rankingi, .NavBarBox-sklep, .NavBarBox-ogloszenia {
    padding: 5px 10px 5px 10px;
}
.NavBarBox-rankingi:hover, .NavBarBox-sklep:hover, .NavBarBox-ogloszenia:hover  {
    background: #23272A;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.0125);
    color: #1A91FF;
}

.NavBarBox-profile {
    color: #1A91FF;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    cursor: pointer;
    outline: none;
    text-align: left;
}

.NavBarBox-profile > img {
    display: block;
    margin: auto;
    padding: 10px;
    background-color : hsl(0, 0%, 90%);
    transition: background-color 300ms;
}

.NavBarBox-profileButtonWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    padding: 1vw;
}

.NavBarBox-profileButtonWrapper:hover {
    background: #23272A;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.0125);
}

.NavBarBox-profileButtonWrapper > .button-arrow {
    font-size: 14px;
}

.NavBarBox-profileButtonWrapper > img {
    padding-left: 5px;
}

.NavBarBox-profileButton-menu {
    display: none;
    color: red;
}