.NavBar {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 0;
    gap: 210px;

    width: 1442.58px;
    height: 81.39px;

    /* Background Gray */

    background: #2C2F33;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.NavBarBox-serverName {
    color: #D84F00;
}